.DS_Store
*.jar
gradle-wrapper.jar
gradle-wrapper.properties
gradlew
gradlew.bat
*.spec
*.settings
*.status
*.iml
*.idea
*.deps
*.dirstamp
*.o
*.la
*.lo
*.log
*.libs
*.pc
*.pm
*.go.swo
*.go.swp
bin/
logs/
temp/
enctemp/
deploy/develop/nohup.out
deploy/production/Thallo
deploy/production/Thallo.tar.gz
server/EncService/EncService
server/EncMgr/EncMgr
server/EncSynthesis/EncSynthesis
server/MonitorService/nohup.out
server/MonitorService/MonitorService
3rdparty/ffmpeg-4.1/build/
3rdparty/fdk-aac-0.1.5/build/
3rdparty/x265_2.9/build/
3rdparty/bin/
3rdparty/fdk-aac-0.1.5/autom4te.cache/
3rdparty/include/
3rdparty/lib/
3rdparty/remux/CMakeFiles/
3rdparty/remux/build/
3rdparty/scripts/automake-1.15.tar.gz
3rdparty/scripts/automake-1.15.tar.gz.1
3rdparty/scripts/automake-1.15/
3rdparty/x264-snapshot-20170308/build/Makefile
vendor/github.com/bsm/sarama-cluster-old/
